<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <ng-container *ngFor="let dynamicField of dynamicFields">
        <shared-dynamic-field-builder [dynamicField]="dynamicField" [form]="form" [submitted]="submitted">
        </shared-dynamic-field-builder>
    </ng-container>

    <div class="mt-3">
        <button type="submit" mat-flat-button id="submit" color="primary">
            <!-- [disabled]="!form.valid" -->
            {{ ( 'COMMON.SUBMIT' ) | translate }}
        </button>
    </div>
</form>