/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// Base Style Files
@import '../src/assets/styles/typography';
@import '../src/assets/styles/variables';
@import '../src/assets/styles/flex';
@import '../src/assets/styles/utils';
@import '../src/assets/styles/material';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
