<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center py-3">
        <div>
          <div class="text-xl fw-bold">{{ 'ACCOUNT.SIGN_UP' | translate }}</div>
        </div>
        <div class="cursor-pointer">
          <mat-icon [routerLink]="['/home']">home</mat-icon>
        </div>
      </div>
      <div class="sign-out-container card-body">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="firstName">{{ 'ACCOUNT.FIRST_NAME' | translate }}</label>
            <input type="text" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['firstName'].errors }" />
            <div *ngIf="submitted && form['firstName'].errors" class="invalid-feedback">
              <div *ngIf="form['firstName'].errors['required']">
                {{ 'MESSAGE.FIELD_IS_REQUIRED' | translate }}
              </div>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="lastName">{{ 'ACCOUNT.LAST_NAME' | translate }}</label>
            <input type="text" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['lastName'].errors }" />
            <div *ngIf="submitted && form['lastName'].errors" class="invalid-feedback">
              <div *ngIf="form['lastName'].errors['required']">
                {{ 'MESSAGE.FIELD_IS_REQUIRED' | translate }}
              </div>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="email">{{ 'ACCOUNT.EMAIL' | translate }}</label>
            <input type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" />
            <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
              <div *ngIf="form['email'].errors['required']">
                {{ 'MESSAGE.FIELD_IS_REQUIRED' | translate }}
              </div>
              <div *ngIf="form['email'].errors['email']">
                {{ 'MESSAGE.EMAIL_FORMAT_IS_INVALID' | translate }}
              </div>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="password">{{ 'ACCOUNT.PASSWORD' | translate }}</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['password'].errors }" />
            <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
              <div *ngIf="form['password'].errors['required']">{{ 'MESSAGE.PASSWORD_IS_REQUIRED' | translate }}</div>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="passwordConfirmation">{{ 'ACCOUNT.CONFIRM_PASSWORD' | translate }}</label>
            <input type="password" formControlName="passwordConfirmation" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['passwordConfirmation'].errors }" />
            <div *ngIf="submitted && form['passwordConfirmation'].errors" class="invalid-feedback">
              <div *ngIf="form['passwordConfirmation'].errors['required']">{{ 'MESSAGE.CONFIRM_PASSWORD_IS_REQUIRED' |
                translate
                }}
              </div>
              <div *ngIf="form['passwordConfirmation'].errors['mustMatch']">{{ 'MESSAGE.PASSWORDS_NOT_MATCH' | translate
                }}
              </div>
            </div>
          </div>

          <div class="mt-3 d-flex justify-content-between">
            <button type="submit" [disabled]="isLoading" mat-flat-button color="primary">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
              {{ ( 'ACCOUNT.SIGN_UP' ) | translate }}
            </button>

            <button type="button" mat-button [routerLink]="['/account/signin']">
              <mat-icon>login</mat-icon>
              {{ 'ACCOUNT.SIGN_IN' | translate }}
            </button>
          </div>

        </form>

        <tools-loading [show]="isLoading"></tools-loading>

      </div>
    </div>
  </div>
</div>