.mat-icon {
  &.icon-dimensions-8 {
    width: 8px;
    height: 8px;
  }
  &.icon-dimensions-16 {
    width: 16px;
    height: 16px;
  }
  &.icon-dimensions-20 {
    width: 20px;
    height: 20px;
  }
  &.icon-dimensions-24 {
    width: 24px;
    height: 24px;
  }
}
